
*{
    font-family: sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration: none;
    transition: all .2s linear;
     
}
body{
    background-color: rgb(208, 226, 242);
}

img{
    user-select:none;
}
html{
    font-size:85.5%;
    overflow-x:hidden;
}


header{
    position:sticky;
    top:0;
    left:0;
    right:0;
    background:rgb(194, 202, 205);
    padding:2rem 10%;
    display:flex;
    align-items:center;
    z-index: 1000;
    float:left;
    width:1000vh;

    .menu{
        font-size: 20px;
    }

   
}


header .navbar{
    float:left;
    width:1000px;
    padding-left:200px;
    font-size: 17px;
    color:green;

    word-spacing: 30px;

    
    a.active,
    a:hover{
        color:red;
        text-decoration: underline;
    }

}

.home{


    .container{

        

        .slide{

           
            height:50%;
            width:50%;
            margin-top:50px;
            border-radius:solid;

        }

        .content{

            
            width:600px;
            margin-left :57%;
            margin-top:-400px;
            height:300px;
            
            
            h1{
                font-size: 30px;
                padding-top: 20px;
                padding-left:20px;
                line-height: 30px;
                line-height: 40px;
            }

            p{
                font-size: 20px;
                padding-top:20px;
                padding-left: 20px;
                line-height: 30px;
            }

           


        }
    }
}



.marquee{
    margin-top:150px;
    width:100%;
    behavior: repeat;
    
    height:50px;
    font-size:35px;
    gap: space-between;
    padding:5px;
    justify-content: space-between;
    

   
    
}

.container1{

    margin-top:60px;
   

    .head{
        text-align:center;
        margin-top:40px;

        h3{
            border:solid;
            background-color:rgb(233, 224, 204);
            color:orange;
            height:30px;
            width:200px;
            border-radius:5px;
            text-align: center;
            margin-top:30px;
            margin-left:43%;
            padding-top:5px;
        }

        h1{
            font-size:40px;
            margin-top: 20px;
        }

    }

}


.box-container1{
    grid-area: 30rem;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom:50px;
    margin-top: 40px;
   


    .box{

        border:solid;
        margin-left:10px;

        &:hover .image img{
            transform:scale(1.1)
        }

        &.hide{
            display:none;
        }

      
    }
    

    .image{
        height:15rem;
        overflow:hidden;
        /* margin-left:10px; */
        position:relative;
        

        img{
            height:100%;
            width:100%;
            object-fit:cover;
            /* margin-left:10px; */
        }

        h3{
            font-size: 1.5rem;
            position:absolute;
            top:1rem;left:1rem;
            padding:.5rem 1.5rem;
            background:white;

        }

    }

    .content{
        padding:2rem;
        text-align:center;
        
        

        p{
            font-size:1.5rem;
            padding:1rem 0;
        }

        .btn{
            font-size:20px;
            text-align:center;
            margin-top: 10px;;
            height:20px;
            border:solid;
            margin-left:20px;
            border-radius:5px;

            &:hover{
               background-color:green;
               color:white;
            }

        }

        .icons{
            display:flex;
            align-items:center;
            justify-content:space-between;
            margin-top:2rem;
            padding-top:2rem;
            border-top:solid;

            span{
                font-size:1rem;
                /* padding-left:-10px; */

                i{
                    color:green;
                    padding-right:.1rem;
                    margin-left:5px;
                    justify-content:space-between;
                }
            }

        }
    }

   
}


.portfolio{

    .slide{

        display:flex;
        margin-left:20px;
        margin-top:50px;

        .w{

            margin-left:20px;

            img{

                border-radius: 10px;

                
            }


        }


    }
}





.service{

    margin-top:200px;

    .ser{

        h3{
            border:solid;
            background-color:rgb(233, 224, 204);
            color:orange;
            height:30px;
            width:200px;
            border-radius:5px;
            text-align: center;
            margin-top:30px;
            margin-left:50px;
            padding-top:5px;
        }

        p{
            margin-top: 20px;
            margin-left: 50px;
            font-size:20px;
        }


    


    }

    
    

    .container3{
        background-color: rgb(24, 134, 134);
        width:50%;
        height:300px;
        margin-left: 50px;
        
        

        .box{
            background-color: aliceblue;
            height:100%;
            width:50%;
            border-right:solid;
            border-radius: 10px;
            
            
            


            h2{
                margin-top:30px;
                padding-top:30px;
                margin-left: 20px;
        
            }

            i{
                margin-left:60%;
                border:solid;
                width:30px;
                height:30px;
                text-align:center;
                padding-top:8px;
                margin-top:-30px;
                display:block;

                &:hover{
                    background-color:green; 

                }
                
            }
        }

        .box1{
            background-color: aliceblue;
            height:100%;
            width:50%;
            display:block;
            margin-left:50%;
            margin-top:-44.8%;
            border-radius: 10px;
            
            


            h2{
                margin-top:30px;
                padding-top:30px;
                margin-left: 20px;
        
            }

            i{
                margin-left:60%;
                border:solid;
                width:30px;
                height:30px;
                text-align:center;
                padding-top:8px;
                margin-top:-30px;
                display:block;

                &:hover{
                    background-color:green; 

                }
                
            }
        }
    }

    .image{
        margin-left:55%;
        height:50px;
        width:100px;
        margin-top:-32%;

        img{
            height:40rem;
            width:46rem;
            border-radius: 10px;
        }
    }
   
}

.testimonial{


    .container2{

       

        .head2{
            text-align:center;
            margin-top:500px;
    
            h3{
                border:solid;
                background-color:rgb(233, 224, 204);
                color:orange;
                height:30px;
                width:200px;
                border-radius:5px;
                text-align: center;
                margin-top:30px;
                margin-left:43%;
                padding-top:5px;
            }
    
            h1{
                font-size:40px;
                margin-top: 20px;
            }
    
        }

        .image{

            margin-left: 300px;
            margin-top:100px;
            display:flex;

            img{
                border-radius: 50%;
                box-shadow: inset;
                shape-outside: margin-box;
                scrollbar-shadow-color:gray;
            }

            
        }

        .content{
            font-size: 20px;
            /* border:solid; */
            width:50%;
            height:230px;
            margin-left: 45%;
            margin-top:-250px;
            background-color: white;
            padding-left:20px;
            border-radius:10px;

            img{
                height:50px;
                width:50px;
                border-radius:50%;
                margin-top:10px;
            }

            h3{
                padding-left:60px;
                margin-top:-40px;
            }



            i{
                color:yellow;
                margin-top: 15px;
                justify-content:space-between;
            }

            p{
                margin-top: 20px;
            }
          }
        
    }
}

.faq{
    

    

    

        .head3{
            text-align:center;
            margin-top:500px;
            margin-top:100px;
    
            h3{
                border:solid;
                background-color:rgb(233, 224, 204);
                color:orange;
                height:30px;
                width:200px;
                border-radius:5px;
                text-align: center;
                margin-top:30px;
                margin-left:43%;
                padding-top:5px;
            }
    
            h1{
                font-size:40px;
                margin-top: 20px;
            }
    
        }

        .container3{

            display:flex;

        .image{

            margin-left:100px;
            margin-top:50px;

            img{
                height:250px;
                width:400px;
                border-radius: 10px;
            }
        }

        .image1{

            margin-left:300px;
            margin-top:-80px;
            

            img{
                height:250px;
                width:400px;
                border-radius: 10px;
            }
        }

        .content{

            display:block;
            margin-top:100px;
            margin-left:50px;
            justify-content: center;
            padding-left:20px;
            line-height: 50px;
            /* background-color: white; */
            width:500px;

            .que{
                background-color: white;
                margin-top:10px;
                display:flex;

                p{
                    padding-left: 10px;

                }

                i{
                    margin-right:-40px;
                    margin-top: 20px;
                    

                    &:hover{
                        color:green;
                        transform: rotate(30deg);
                    }
                }
            }
            

        }
    }


    

}

.blog{

    .head3{
        text-align:center;
        margin-top:500px;
        margin-top:100px;

        h3{
            border:solid;
            background-color:rgb(233, 224, 204);
            color:orange;
            height:30px;
            width:200px;
            border-radius:5px;
            text-align: center;
            margin-top:30px;
            margin-left:43%;
            padding-top:5px;
        }

        h1{
            font-size:40px;
            margin-top: 20px;
        }

    }

    .big{

        display:flex;
    

    .container4{

        background-color: white;
        width:45%;
        margin-left:40px;
        display:flex;
        margin-top:50px;
        border-radius:10px;
       

        .image{
            padding:20px 20px 20px ;

            img{
                height:250px;
                width:250px;
                /* padding:10px 10px 10px ; */
                border-radius:10px;

            }
        }

        .content{
            margin-top:30px;
            line-height: 30px;
            margin-left:10px;

            h1{
                font-size: 30px;
                padding-top:20px;
            }

            p{
                font-size: 20px;
                margin-top: 10px;
            }

            h4{
                font-size: 20px;
                margin-top:10px;
                width:auto;
                width:100px;
                border-radius:10px;

                &:hover{
                    background-color: green;
                }
            }
        }
    }
}

}




       
    
















.footer{
    background-color:rgb(235, 243, 246) ;
    float:left;
    display:grid;
    margin-left:30px;
    /* width:100%;
    margin-left:0px; */
    margin-left:0px;
    margin-top:70px;
    width:100%;
    
    height:400px;
    
    


    

   
    
    .box-container{
       float:left;
       display:grid;
       grid-template-columns: repeat(4,25vw);
       
       margin-left:10px;
       margin-top:40px;

       p{
        padding:1rem 0;

        }

        .share{
            margin-top:1rem;

            a{
              height:3.5rem;
              width:3.5rem;
              line-height:3.5rem;
              font-size:1.7rem;
              background-color:rgb(77, 226, 77);
              margin-right:.3rem;
              text-align:center;

              &:hover{
              background-color:black;

            }
        }

   

    }
    .link{
                
        padding:.5rem 0;
        display:block;

        &:hover{
            color:red;
            text-decoration:underline;
        }

        }

        .box{

            margin-left: 40px;

            h3{
                font-size:1rem;
                padding:0.5rem 0;
                
                
            }

         .sub{
            /* border:solid; */
            margin-left:10px;
         }   
       
          
        }
    }

    .box1{
        margin-left: 90px;
    }

    .box2{

        line-height: 30px;
        
        
    }

    .box3{
        /* margin-left:1000px; */
        /* margin-top:-170px; */
        line-height: 30px;
    }




.sub{
    border:none;
}
.email{
    background-color: azure;
    margin-left:-26px;
    width:100%;
    height:40px;
    font-size: 20px;
    padding-left:30px;
    border:solid;


}

.credit{
   
    margin-top:2rem;
    padding-top:2rem;
    font-size: 1.5rem;
    margin-top:30px;
    border-top:solid;
    line-height: 20px;

    p1{
        margin-left:30px;

    }

   

 p2{
    margin-left:600px;
    font-size:20px;
}
}
}













/* mediaqueries */
@media (max-width:1200px){

    .header{
        padding:2rem 5%;
    }

    
section{
    padding:3rem 5%;
}
   
}
@media(max-width:991px){
    html{
        font-size: 55%;

    }
    
    .header{
        padding:2rem;
    }

    
    section{
        padding:3rem 2rem;
}
}
@media(max-width:768px){ 

    .header{

        #menu-btn{
        display:inline-block;

    }
    .navbar{
        position:fixed;top:0;right:-105;
        width:30rem;
        background:lightblue;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
        height:100%;
        display:flex;
        flex-flow:column;
        justify-content:center;
        z-index:1200px;

        a{
            display:block;
            margin:1rem 0;
            text-align:center;
            font: size 3rem; 

        }

    }
    }
}



@media(max-width:450px){
    html{
        font-size:50%;
   }
}
